---
const links = [
    { href: "/", name: "Listado" },
    { href: "/pokemons/1", name: "Paginado" },
    { href: "/favorites/", name: "Favoritos" },
    { href: "/islands/", name: "Islands" },
];

const currentPath = Astro.url.pathname;
---

<nav class="shadow bg-slate-900">
    <div
        class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
    >
        <!-- class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6" -->
        <!-- <a
    href={href}
    class:list={['text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6',
        {'border-b-2 border-blue-500': currentPath === href}
    ]}
>
    {name}
</a> -->

        {
            links.map(({ href, name }) => (
                <div>
                    <a
                        href={href}
                        class:list={[
                            "text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6",
                        ]}
                    >
                        {name}
                    </a>
                    {currentPath === href ? (
                        <div
                            transition:name="menu-line"
                            class="border-b-2 border-blue-500 mx-4"
                        />
                    ) : (
                        <div class="border-b-2 border-transparent" />
                    )}
                </div>
            ))
        }
    </div>
</nav>
