<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404</title>
    </head>
    <body class="bg-slate-800 text-white">
        <div class="flex flex-col pt-[10rem] justify-center items-center">
            <h1 class="text-5xl">Pagina No encontrada</h1>
            <span class="text-red-500 text-3xl">Error 404</span>
            <img src="../../public/img/img-01.jpg" alt="">
        </div>
    </body>
</html>
